<?xml version="1.0"?>

<launch>

  <!-- launch ouzel core -->
  <include file="$(find mav_startup)/launch/pixhawk/ouzel/ouzel_core.launch">
    <arg name="use_versavis"   value="false" />
    <arg name="vehicle_config" value="marker" /> <!-- shouldnt be necessary -->
  </include>

  <!-- overwrite vehicle config with local file -->
  <rosparam file="$(find marker)/launch/config_vehicle.yaml" ns="ouzel/controller_node"/>
  <!-- overwrite msf config with local file -->
  <rosparam file="$(find marker)/launch/config_msf.yaml" ns="ouzel/pose_sensor"/>

  <!-- launch vicon plate topic -->
  <include file="$(find ros_vrpn_client)/launch/asl_vicon.launch">
      <arg name="object_name" value="plate" />
  </include>

  <!-- launch marker core -->
  <include file="$(find marker)/launch/marker_core.launch">
    <!-- outgoing/incoming topic names -->
    <arg name="odometry_drone"       value="/ouzel/msf_core/odometry" />              <!-- topic name of drone odometry -->
    <arg name="setpoint_drone"       value="/ouzel/command/trajectory" />             <!-- topic name of drone setpoint -->
    <arg name="wrench_drone"         value="/ouzel/wrench_target" />                  <!-- topic name of drone wrench -->
    <arg name="odometry_plate_vicon" value="/plate/vrpn_client/estimated_odometry" /> <!-- topic name of plate odometry (only used if camera mode="vicon") -->
    <!-- device paths -->
    <arg name="device_drawer"        value="/dev/ttyACM0" />   <!-- drawer servo -->
    <arg name="device_wheels"        value="/dev/ttyUSB1" />   <!-- wheels dynamixels -->
  </include>

</launch>
